* {
    padding: 0;
    border: none;
    margin: 0;
    box-sizing: border-box;
}
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media screen and (max-width: 800px) {
    .col-sm-1 {
        width: 8.33%;
    }

    .col-sm-2 {
        width: 16.66%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-4 {
        width: 33.33%;
    }

    .col-sm-5 {
        width: 41.66%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-7 {
        width: 58.33%;
    }

    .col-sm-8 {
        width: 66.66%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-10 {
        width: 83.33%;
    }

    .col-sm-11 {
        width: 91.66%;
    }

    .col-sm-12 {
        width: 100%;
    }

    .display-none {
        visibility: hidden;
    }
    .body-height{
        height: 700px;
    }
}

[class*=col-] {
    float: left;
}

#header {
    background-color: black;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0px;
    z-index: 100;

}

#body {
    position: relative;
    top: 50px;
    left: 0;
    margin: 0;
    padding: 0px;
}

.row {
    display: inline-block;
    float: left;
}

#logo, #login {
    margin: 16px 10px;
    color: white;
}

#login {
    float: right;
}

ul {
    height: 50px;
    margin: 0px;
    padding: 0
}

ul li {
    list-style: none;
    display: inline;
    float: left;
    margin: 0 5px;
    padding: 16px 5px;
    color: white;
}
li:hover{
    background-color: darkslategray;
}

#left, #right {
    background-color: #d6e8e8;
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    height: 700px;
}
#left{
    left: -7px;
}
#right{
    right: -7px;
}
#left p, #right .ads {
    padding: 0px 10px;
    float: none;
    width: 90%;
    text-align: center;
    line-height: 30px;
}
#left p a{
    text-decoration: none;
    text-align: center;
}
.ads {
    height: 75px;
    width: 100%;
    border: darkcyan 1px solid;
    margin: 10px;
}
#center div {
    display: block;
    margin: 5px;
}
#center div div {
    margin: 5px;

}
h4{
    margin: 5px;
}
hr{
    width: 100%;
    border: 1px darkgray solid;
}
#footer{
    background-color: black;
    height: 50px;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0px;
    z-index: 100;
    color: white;
}